.error-message-box {
  font-size: 3rem;
  font-weight: 100;
  line-height: 150%;
  z-index: 100;
  max-width: 800px;
  margin-top: 30px;
  padding: 5px 10px;
  cursor: default;
  border-radius: 5px;
  background: #9d1d36;
}
