.ordering-form {

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: fit-content;
  margin: 0 auto;
  row-gap: 25px;

  label {
    font-size: 2.2rem;
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    cursor: pointer;
    user-select: none;

    &.personal-data-box {
      align-items: center;
      flex-direction: row;
      justify-content: start;
      box-sizing: border-box;
      width: max-content;
    }

    &.input-avatar-box {
      width: max-content;
    }

    input[type='text'] {
      font-size: 2rem;
      box-sizing: border-box;
      width: 450px;
      height: 30px;
      border: 1px transparent solid;
      border-radius: 5px;


      &:focus-visible {
        border: 1px #539494 solid;
        outline: none;
        box-shadow: #539494 0 0 4px 1px;
      }
    }

    input[type='date'] {
      font-size: 2rem;
      box-sizing: border-box;
      width: 450px;
      height: 30px;
      cursor: pointer;
      border: 1px transparent solid;
      border-radius: 5px;

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
      }

      &:focus-visible {
        border: 1px #539494 solid;
        outline: none;
        box-shadow: #539494 0 0 4px 1px;
      }
    }

    select {
      font-size: 2rem;
      box-sizing: border-box;
      width: 450px;
      height: 30px;
      cursor: pointer;
      border: 1px transparent solid;
      border-radius: 5px;

      :first-child {
        display: none;
      }

      &:focus-visible {
        border: 1px #539494 solid;
        outline: none;
        box-shadow: #539494 0 0 4px 1px;
      }
    }

    input[type='checkbox'] {
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      margin: 0 10px 0 0;
      cursor: pointer;
    }

    input[type='file'] {
      cursor: pointer;

      &::file-selector-button {
        width: max-content;
        height: 35px;
        cursor: pointer;
        color: #eaeaea;
        border: 0;
        border-radius: 5px;
        background: #539494;

        &:active {
          transform: scale(0.98);
        }
      }
    }

  }

  .gender-box {
    font-size: 2.2rem;
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
    width: 450px;


    .radio-options-box {
      display: flex;
      flex-direction: row;
      column-gap: 20px;

      input {
        width: 15px;
        height: 15px;
        margin: 0 10px 0 0;
        cursor: pointer;
      }

      label {
        align-items: center;
        flex-direction: row;
      }
    }
  }

  button {
    font-size: 2rem;
    width: 250px;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
    transition: transform .1s linear, background-color .1s linear;
    border: 0;
    border-radius: 5px;

    &:hover {
      background: #ffffff;
    }

    &:active {
      transform: scale(0.98);
    }

    &:focus-visible {
      outline: none;
    }
  }
}


