.error-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  .error-container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    padding: 2rem;

    & * {
      margin: 0;
    }

    .error-container__title {
      font-size: 12rem;
      line-height: 14rem;
    }

    .error-container__404 {
      font-size: 7rem;
    }

    .error-container__description {
      font-size: 2rem;
    }

    .home-button {
      font-size: 2.5rem;
      width: max-content;
      margin: 10px auto 0;
      padding: 5px 30px;
      transition: background .15s linear, box-shadow .2s linear;
      border: 1px solid white;
      border-radius: 1rem;

      background: #539494;

      &:hover {
        background: lighten(#539494, 5);
        box-shadow: #539494 0 0 4px 2px;
      }
    }
  }

}
