:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;

  color: #EAEAEAFF;
  background-color: #242424;
}

#root {
  flex-direction: column;
  display: flex;
}

body {
  min-width: 320px;
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #eeeeee;
}
